.container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.career__button {
    padding: 10px 30px;
    border: 1px solid #1F4382;
    outline: none;
    position: fixed;
    z-index: 99;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 700;
    top: 10px;
    right: 10px;
    background-color: #1F4382;
    color: white;
    display: flex;
    align-items: center;
}

.career__button:hover {
    color: #1F4382;
}

.career__button svg {
    border: 1px solid #fff;
    padding: 3px;
}

.career__button:hover svg {
    border: 1px solid #1F4382;
}

.career__button:hover svg path{
    fill: #1F4382;
}


.category-button {
    margin-top: 20px;
    margin-right: 5px;
    background-color: #fff;
    padding: 5px 15px;
    border: 1px solid #1F4382;
    color: white;
    color: #1F4382;
}

.category-button:hover, .category-active {
    background-color: #1F4382;
    border: 1px solid #1F4382;
    color: white; 
}

span {
    font-weight: 600;
}

.career__item {
    background-color: #F3F8FF;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 1px 5px 10px 0px dimgray;
}

.close-icon, .edit-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.edit-icon {
    right: 40px;   
}

.close-small-icon {
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
}

.secondary-form {
    padding-top: 20px;
}

.position_tasks__item {
    position: relative;
    background-color: #c7f9fe;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.inputs__wrapper, .position_tasks_input__items {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.position_tasks_input__items {
    flex-direction: row;
}

/* label {
    position: relative;
    font-family: sans-serif;
    font-weight: 700;
} */

/* label input, label select {
    position: absolute;
    left: 100px;
} */


.position_tasks_input__wrapper{
    position: relative;
    padding-top: 60px ;
}

.tasks-input-btn {
    width: 200px;
    background-color: #1F4382;
    padding: 5px 10px;
    border: 1px solid #1F4382;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 20px ;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tasks-input-btn:hover {
    color: #1F4382;
    background-color: white;
}

.form-floating {
    margin-bottom: 10px;
}

.secondary-text-garbage {
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -5px;
}

.send-button {
    background-color: #1F4382;
    padding: 5px 10px;
    border: 1px solid #1F4382;
    color: white;
    border-radius: 3px;
}

.send-button:hover {
    color: #1F4382;
    background-color: white;
}

.send-button:hover svg path {
    fill: #1F4382;
}



.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.492);
    z-index: 111;
    
}

.modal__wrapper {
    width: 250px;
    height: 130px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}

.modal__text {
    font-size: 18px;
    font-weight: 500;
}

.modal__wrapper button {
    position: absolute;
    bottom: 10px;
    border: 2px solid #E53133;
    color: white;
    background-color: #E53133;  
    border-radius: 5px;
    margin-left: 10px ;
}

.modal__ok{
    right: 76px;
}
.modal__wrapper >
.modal__cancel {
    right: 10px;
    border: 2px solid #1F4382;
    color: white;
    background-color: #1F4382;
}

/* HTML: <div class="loader"></div> */
.send-button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.send-button svg {
    margin: 0px;
}

.send-button:hover .loader {
    color: #1F4382
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    color: #fff;
    background: conic-gradient(currentColor 0 270deg,#0000 0);
    border-radius: 50%;
    animation: l14-0 4s infinite linear;
  }
  .loader::before {
    content: "";
    display: block;
    height: 50%;
    width: 50%;
    border-top-left-radius: 100px;
    background: currentColor;
    animation: l14 0.5s infinite alternate;
  }
  @keyframes l14-0 {
      0%,24.99%  {transform: rotate(0deg)}
      25%,49.99% {transform: rotate(90deg)}
      50%,74.99% {transform: rotate(180deg)}
      75%,100%   {transform: rotate(270deg)}
  }
  @keyframes l14 {
      100%  {transform: translate(-10px,-10px)}
  }


