
@font-face {
    font-display: swap; 
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/bai-jamjuree-v11-latin-regular.woff2') format('woff2'); 
  }

h1, h2, p {
    color: #1F4382;
}


.App {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left-side {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 350px;
    background-color: #1F4382;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 40px
}

.right-side{
    margin-left: 400px;
}

  
.left-side__h2 {
    width: 300px;
    background-color:  #1F4382;
    border-top: 1px solid #1F4382;
    border-bottom: 1px solid #1F4382;
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px 0px 0px 15px;
    font-family: 'Bai Jamjuree';
    color: white;
    font-weight: 400px;
    display: flex;
    align-items: center;
    cursor: pointer;
}



.left-side__h2:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
 
}

.h2-active {
    background-color: white;
    color: #1F4382;
}

.h2-active svg path {
    fill: #1F4382;
}

svg {
    margin-right: 5px;
    
}

.randomBtn {
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: left;
    color:#1F4382;
    margin-right: 10px;
}